

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: darkred;
  cursor: pointer;
}

header #logo span {
  font-size: 3.2em;
  line-height: 45px;
  margin-left: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%;
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 50px;
  margin-bottom: 10px;
}

#about > a {color: #fff}
a:link{
  text-decoration: none!important;
}

#about > a:hover {
  color: #b0b0b0;
  
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
  background-color: black;
  
}

header.fixed #logo {
  color: darkred;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Главный блок на сайте */

#top {
  width: 100%;
  background-image: url(https://i.pinimg.com/originals/7a/bf/5e/7abf5e6411aaaad6ead9e75450ee181a.jpg);
  background-blend-mode: multiply;
  background-color: #2e3a44;
  background-size: cover;
  text-align: center;
  color: #fff;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}

#top h1 {
  padding-top: 20%;
  color: darkred;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#top h3 {
  color: darkred;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#main{
  padding: 100px 20%;
  width: 60%;
  float:left;
  background-color: black;
  border-top: 2px solid black;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  


}
@media (min-width: 1401px) {
  #main {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #main {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px) {
  #main div {
    width: 98%!important;
    margin-bottom: 20px;
  }
}
#main div{
  width: 48%;
  margin-right: 2%;
  float: left;
}
.intro {
  display: inline-block;
  }


